*{
    margin: 0;
    padding: 0;
}
.modal-wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(101, 97, 97, 0.256);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.open {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 25px;
}

.modal-window {
    background-color: white;
    width: 70%;
    margin: 5rem auto;
    text-align: center;
    justify-content: center;
}
 
.close {
    float: right;
    width: 20px;
    height: 20px;
}
